<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.7.1" />
  <package id="Microsoft.AspNet.Mvc" version="3.0.20105.1" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="1.0.20105.408" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR" version="1.0.0-rc2" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.Core" version="1.0.0-rc2" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.JS" version="1.0.0-rc2" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.Owin" version="1.0.0-rc2" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="1.0.0-rc2" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="1.0.20105.408" targetFramework="net40" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="1.0.0-rc2" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="MSBuild.Microsoft.VisualStudio.Web.targets" version="14.0.0.1" targetFramework="net40" />
  <package id="MvcFlash" version="1.0.0" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
  <package id="Owin" version="1.0" targetFramework="net40" />
  <package id="Twitter.Bootstrap" version="2.0.2" />
  <package id="WebActivator" version="1.5" />
</packages>