*{margin:0;padding:0}
body{font:12px Helvetica,Arial,sans-serif;background-color:#E9EDEE;color:#333}
#header h1{font-family:KoolBeansRegular;font-size:100px;color:#104ba9;text-align:center;text-shadow:#333 2px 2px 2px;text-transform:lowercase;margin:0;padding:0}
#header h2{font-size:32px;text-align:center;font-weight:700}
#header p{text-align:center;font-size:18px;font-weight:700}
#container{width:90%;margin:0 auto}
p{margin:0 0 20px}
a{color:#0E718F}
a:hover{text-decoration:none;color:#fff;background-color:#0E718F}
table{width:100%;border-right:1px solid #333;border-left:1px solid #333}
thead th{font-size:14px;font-weight:700;min-width:120px;cursor:pointer;padding:6px 1px}
tbody td{font-size:12px;font-weight:700;padding:10px 3px}
.dataTables_info{padding-top:3px;width:50%;float:left}
.dataTables_paginate{padding-top:0;width:auto;float:right;text-align:right}
.css_right{float:right}
.paging_two_button .ui-button{float:left;cursor:hand}
.paging_full_numbers .ui-button{cursor:hand;margin:0;padding:2px 6px}
.dataTables_paginate .ui-button{margin-right:-.1em!important}
.paging_full_numbers{width:350px!important}
.dataTables_wrapper .ui-toolbar{padding:5px}
table.display thead th{cursor:hand;padding:3px 0 3px 10px}
div.dataTables_wrapper .ui-widget-header{font-weight:400}
table.display thead th div.DataTables_sort_wrapper{position:relative;padding-right:20px}
table.display thead th div.DataTables_sort_wrapper span{position:absolute;top:50%;margin-top:-8px;right:0}
.dataTables_wrapper{position:relative;min-height:302px;_height:302px;clear:both}
.dataTables_processing{position:absolute;top:0;left:50%;width:250px;margin-left:-125px;border:1px solid #ddd;text-align:center;color:#999;font-size:11px;padding:2px 0}
.dataTables_length{width:40%;float:left}
.dataTables_filter{width:50%;float:right;text-align:right}
.paginate_disabled_previous,.paginate_enabled_previous,.paginate_disabled_next,.paginate_enabled_next{height:19px;width:19px;margin-left:3px;float:left}
table.display{width:100%;clear:both;border-collapse:collapse;margin:0 auto}
table.display tfoot th{font-weight:400;padding:3px 0 3px 10px}
table.display tr.heading2 td{border-bottom:1px solid #aaa}
table.display td{padding:3px 10px}
table.display tr.odd.gradeA{background-color:#dfd}
table.display tr.even.gradeA{background-color:#efe}
table.display tr.odd.gradeC{background-color:#ddf}
table.display tr.even.gradeC{background-color:#eef}
table.display tr.odd.gradeX{background-color:#fdd}
table.display tr.even.gradeX{background-color:#fee}
table.display tr.even.gradeU{background-color:#eee}
tr.odd{background-color:#E2E4FF}
tr.even{background-color:#FFF}
.top,.bottom{background-color:#F5F5F5;border:1px solid #CCC;padding:15px}
.top .dataTables_info{float:none}
tfoot input{width:100%;color:#444;margin:.5em 0}
tfoot input.search_init{color:#999}
td.group{background-color:#d1cfd0;border-bottom:2px solid #A19B9E;border-top:2px solid #A19B9E}
td.details{background-color:#d1cfd0;border:2px solid #A19B9E}
.example_alt_pagination div.dataTables_info{width:40%}
.paging_full_numbers span.paginate_button,.paging_full_numbers span.paginate_active{border:1px solid #aaa;-webkit-border-radius:5px;-moz-border-radius:5px;cursor:hand;margin:0 3px;padding:2px 5px}
.paging_full_numbers span.paginate_button:hover{background-color:#ccc}
.paging_full_numbers span.paginate_active{background-color:#99B3FF}
table.display tr.even.row_selected td{background-color:#B0BED9}
table.display tr.odd.row_selected td{background-color:#9FAFD1}
tr.odd td.sorting_1{background-color:#D3D6FF}
tr.odd td.sorting_2{background-color:#DADCFF}
tr.odd td.sorting_3{background-color:#E0E2FF}
tr.even td.sorting_1{background-color:#EAEBFF}
tr.even td.sorting_2{background-color:#F2F3FF}
tr.even td.sorting_3{background-color:#F9F9FF}
.ex_highlight #example tbody tr.even:hover,#example tbody tr.even td.highlighted{background-color:#ECFFB3}
.ex_highlight #example tbody tr.odd:hover,#example tbody tr.odd td.highlighted{background-color:#E6FF99}
table.display td.center,.dataTables_empty{text-align:center}
table.display tr.odd.gradeU,.paging_full_numbers span.paginate_button{background-color:#ddd}
.dataTables_scroll,.clear{clear:both}
#github { position: absolute; top: 0; right: 0; text-decoration: none; }
#github:hover { background-color: transparent }