/* line 17, ./src/stylesheets/./_base.sass */
html {
  width: 100%;
}

/* line 19, ./src/stylesheets/./_base.sass */
body {
  font-family: Helvetica, sans-serif;
  font-size: 10pt;
  padding-top: 10px;
  background-color: #e9edee;
}

/* line 28, ./src/stylesheets/./_base.sass */
header, section, footer, aside, nav, article, figure {
  display: block;
}

@font-face {
  font-family: "KoolBeansRegular";
  src: url('koolbean.eot');
  src: local("☺"), url('/koolbean.woff') format("woff"), url('/koolbean.ttf') format("truetype"), url('/koolbean.svg#KoolBeans') format("svg");
}

/* line 1, ./src/stylesheets/./_layout.sass */
#container {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-align: center;
  -moz-box-align: center;
  width: 100%;
}

/* line 5, ./src/stylesheets/./_layout.sass */
#box {
  width: 725px;
}

/* line 8, ./src/stylesheets/./_layout.sass */
#github {
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;
}
/* line 13, ./src/stylesheets/./_layout.sass */
#github img {
  border: 0;
}

/* line 35, ./src/stylesheets/./library/_typography.sass */
h1:first-child, h2:first-child, h3:first-child, h4:first-child {
  margin-top: 0;
}

/* line 37, ./src/stylesheets/./library/_typography.sass */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1em;
  margin-bottom: 0.7em;
  margin-top: 0.3em;
}

/* line 41, ./src/stylesheets/./library/_typography.sass */
h1 {
  font-size: 52px;
}

/* line 43, ./src/stylesheets/./library/_typography.sass */
h2 {
  font-size: 45px;
}

/* line 45, ./src/stylesheets/./library/_typography.sass */
h3 {
  font-size: 29px;
}

/* line 47, ./src/stylesheets/./library/_typography.sass */
h4 {
  font-size: 20px;
}

/* line 49, ./src/stylesheets/./library/_typography.sass */
h5 {
  font-size: 16px;
}

/* line 51, ./src/stylesheets/./library/_typography.sass */
h6 {
  font-size: 16px;
}

/* line 55, ./src/stylesheets/./library/_typography.sass */
body {
  line-height: 1.45em;
  color: #333333;
}

/* line 142, ./src/stylesheets/./library/_typography.sass */
p img {
  float: left;
  margin-top: 8px;
  margin-right: 13px;
  margin-bottom: 13px;
  margin-left: 0;
  padding: 0;
}
/* line 150, ./src/stylesheets/./library/_typography.sass */
p img.right {
  margin-right: 0;
  margin-left: 13px;
}

/* line 60, ./src/stylesheets/./library/_typography.sass */
table {
  margin: 0 0 26px;
  border-collapse: collapse;
}
/* line 158, ./src/stylesheets/./library/_typography.sass */
table th {
  font-weight: bold;
}
/* line 160, ./src/stylesheets/./library/_typography.sass */
table tr, table th, table td {
  margin: 0;
  padding: 0 26px 0 16px;
}
/* line 163, ./src/stylesheets/./library/_typography.sass */
table tfoot {
  font-style: italic;
}
/* line 165, ./src/stylesheets/./library/_typography.sass */
table caption {
  text-align: center;
}

/* line 62, ./src/stylesheets/./library/_typography.sass */
ol {
  list-style: inside decimal;
  margin: 0 0 26px;
}
/* line 110, ./src/stylesheets/./library/_typography.sass */
ol li ol {
  margin: 0 0 26px;
}

/* line 64, ./src/stylesheets/./library/_typography.sass */
ul {
  list-style: inside;
  margin: 0 0 26px;
}
/* line 116, ./src/stylesheets/./library/_typography.sass */
ul li ul {
  margin: 0 0 26px;
}

/* line 66, ./src/stylesheets/./library/_typography.sass */
dl {
  margin: 0 0 26px;
}
/* line 121, ./src/stylesheets/./library/_typography.sass */
dl dt {
  font-weight: bold;
}
/* line 123, ./src/stylesheets/./library/_typography.sass */
dl dd {
  margin-left: 26px;
}

/* line 68, ./src/stylesheets/./library/_typography.sass */
blockquote {
  padding: 24px 24px 24px 28.8px;
  position: relative;
  margin-bottom: 13px;
}
/* line 130, ./src/stylesheets/./library/_typography.sass */
blockquote:before {
  content: "\201C";
  font-size: 48px;
  margin: 5px 0 0 -0.525em;
  position: absolute;
  font-family: Times, Georgia, serif;
  line-height: 0;
}
/* line 137, ./src/stylesheets/./library/_typography.sass */
blockquote > p {
  padding: 0;
  margin: 0;
}

/* line 70, ./src/stylesheets/./library/_typography.sass */
q {
  font-style: italic;
}
/* line 72, ./src/stylesheets/./library/_typography.sass */
q:before {
  content: "\201C";
}
/* line 74, ./src/stylesheets/./library/_typography.sass */
q:after {
  content: "\201D";
}

/* line 76, ./src/stylesheets/./library/_typography.sass */
em, dfn {
  font-style: italic;
}

/* line 78, ./src/stylesheets/./library/_typography.sass */
strong, dfn {
  font-weight: bold;
}

/* line 80, ./src/stylesheets/./library/_typography.sass */
del {
  text-decoration: line-through;
}

/* line 82, ./src/stylesheets/./library/_typography.sass */
span.highlight, em.highlight, strong.highlight {
  background-color: #ffff66;
  padding: 2px;
  margin: 0 -2px;
}

/* line 86, ./src/stylesheets/./library/_typography.sass */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 89, ./src/stylesheets/./library/_typography.sass */
address {
  margin-top: 26px;
  font-style: italic;
}

/* line 92, ./src/stylesheets/./library/_typography.sass */
pre, code, tt {
  font-family: "Menlo", "Bitstream Vera Sans", Monaco, "Andale Mono", "Lucida Console", monospace;
  line-height: 24px;
}

/* line 95, ./src/stylesheets/./library/_typography.sass */
tt {
  display: block;
  margin: 26px 0;
}

/* line 98, ./src/stylesheets/./library/_typography.sass */
sub, sup {
  line-height: 0;
}

/* line 100, ./src/stylesheets/./library/_typography.sass */
hr {
  margin-bottom: 0.2em;
}

/* line 102, ./src/stylesheets/./library/_typography.sass */
small, .small {
  font-size: 13px;
}

/* line 104, ./src/stylesheets/./library/_typography.sass */
big, .big {
  font-size: 20px;
}

/* line 13, ./src/stylesheets/./_typography.sass */
body {
  font-size: 16px;
  font-family: Georgia, Times, "Times New Roman", serif;
}

/* line 17, ./src/stylesheets/./_typography.sass */
h2, h3, h4, h5, h6 {
  color: #333333;
  font-weight: bold;
  font-family: Georgia, Times, "Times New Roman", serif;
}

/* line 22, ./src/stylesheets/./_typography.sass */
h1, h2, h3, h4 {
  letter-spacing: -1px;
}

/* line 35, ./src/stylesheets/./library/_typography.sass */
h1:first-child, h2:first-child, h3:first-child, h4:first-child {
  margin-top: 0;
}

/* line 37, ./src/stylesheets/./library/_typography.sass */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1em;
  margin-bottom: 0.7em;
  margin-top: 0.3em;
}

/* line 41, ./src/stylesheets/./library/_typography.sass */
h1 {
  font-size: 52px;
}

/* line 43, ./src/stylesheets/./library/_typography.sass */
h2 {
  font-size: 45px;
}

/* line 45, ./src/stylesheets/./library/_typography.sass */
h3 {
  font-size: 29px;
}

/* line 47, ./src/stylesheets/./library/_typography.sass */
h4 {
  font-size: 20px;
}

/* line 49, ./src/stylesheets/./library/_typography.sass */
h5 {
  font-size: 16px;
}

/* line 51, ./src/stylesheets/./library/_typography.sass */
h6 {
  font-size: 16px;
}

/* line 55, ./src/stylesheets/./library/_typography.sass */
body {
  line-height: 1.45em;
  color: #333333;
}

/* line 142, ./src/stylesheets/./library/_typography.sass */
p img {
  float: left;
  margin-top: 8px;
  margin-right: 13px;
  margin-bottom: 13px;
  margin-left: 0;
  padding: 0;
}
/* line 150, ./src/stylesheets/./library/_typography.sass */
p img.right {
  margin-right: 0;
  margin-left: 13px;
}

/* line 60, ./src/stylesheets/./library/_typography.sass */
table {
  margin: 0 0 26px;
  border-collapse: collapse;
}
/* line 158, ./src/stylesheets/./library/_typography.sass */
table th {
  font-weight: bold;
}
/* line 160, ./src/stylesheets/./library/_typography.sass */
table tr, table th, table td {
  margin: 0;
  padding: 0 26px 0 16px;
}
/* line 163, ./src/stylesheets/./library/_typography.sass */
table tfoot {
  font-style: italic;
}
/* line 165, ./src/stylesheets/./library/_typography.sass */
table caption {
  text-align: center;
}

/* line 62, ./src/stylesheets/./library/_typography.sass */
ol {
  list-style: inside decimal;
  margin: 0 0 26px;
}
/* line 110, ./src/stylesheets/./library/_typography.sass */
ol li ol {
  margin: 0 0 26px;
}

/* line 64, ./src/stylesheets/./library/_typography.sass */
ul {
  list-style: inside;
  margin: 0 0 26px;
}
/* line 116, ./src/stylesheets/./library/_typography.sass */
ul li ul {
  margin: 0 0 26px;
}

/* line 66, ./src/stylesheets/./library/_typography.sass */
dl {
  margin: 0 0 26px;
}
/* line 121, ./src/stylesheets/./library/_typography.sass */
dl dt {
  font-weight: bold;
}
/* line 123, ./src/stylesheets/./library/_typography.sass */
dl dd {
  margin-left: 26px;
}

/* line 68, ./src/stylesheets/./library/_typography.sass */
blockquote {
  padding: 24px 24px 24px 28.8px;
  position: relative;
  margin-bottom: 13px;
}
/* line 130, ./src/stylesheets/./library/_typography.sass */
blockquote:before {
  content: "\201C";
  font-size: 48px;
  margin: 5px 0 0 -0.525em;
  position: absolute;
  font-family: Times, Georgia, serif;
  line-height: 0;
}
/* line 137, ./src/stylesheets/./library/_typography.sass */
blockquote > p {
  padding: 0;
  margin: 0;
}

/* line 70, ./src/stylesheets/./library/_typography.sass */
q {
  font-style: italic;
}
/* line 72, ./src/stylesheets/./library/_typography.sass */
q:before {
  content: "\201C";
}
/* line 74, ./src/stylesheets/./library/_typography.sass */
q:after {
  content: "\201D";
}

/* line 76, ./src/stylesheets/./library/_typography.sass */
em, dfn {
  font-style: italic;
}

/* line 78, ./src/stylesheets/./library/_typography.sass */
strong, dfn {
  font-weight: bold;
}

/* line 80, ./src/stylesheets/./library/_typography.sass */
del {
  text-decoration: line-through;
}

/* line 82, ./src/stylesheets/./library/_typography.sass */
span.highlight, em.highlight, strong.highlight {
  background-color: #ffff66;
  padding: 2px;
  margin: 0 -2px;
}

/* line 86, ./src/stylesheets/./library/_typography.sass */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 89, ./src/stylesheets/./library/_typography.sass */
address {
  margin-top: 26px;
  font-style: italic;
}

/* line 92, ./src/stylesheets/./library/_typography.sass */
pre, code, tt {
  font-family: "Menlo", "Bitstream Vera Sans", Monaco, "Andale Mono", "Lucida Console", monospace;
  line-height: 24px;
}

/* line 95, ./src/stylesheets/./library/_typography.sass */
tt {
  display: block;
  margin: 26px 0;
}

/* line 98, ./src/stylesheets/./library/_typography.sass */
sub, sup {
  line-height: 0;
}

/* line 100, ./src/stylesheets/./library/_typography.sass */
hr {
  margin-bottom: 0.2em;
}

/* line 102, ./src/stylesheets/./library/_typography.sass */
small, .small {
  font-size: 13px;
}

/* line 104, ./src/stylesheets/./library/_typography.sass */
big, .big {
  font-size: 20px;
}

/* line 36, ./src/stylesheets/./_typography.sass */
body {
  font-size: 16px;
  font-family: Georgia, Times, "Times New Roman", serif;
}

/* line 40, ./src/stylesheets/./_typography.sass */
h2, h3, h4, h5, h6 {
  color: #333333;
  font-weight: bold;
  font-family: Georgia, Times, "Times New Roman", serif;
}

/* line 45, ./src/stylesheets/./_typography.sass */
h1, h2, h3, h4 {
  letter-spacing: -1px;
}

/* line 48, ./src/stylesheets/./_typography.sass */
h1 {
  font-size: 26px;
}

/* line 51, ./src/stylesheets/./_typography.sass */
h2 {
  font-size: 23px;
}

/* line 54, ./src/stylesheets/./_typography.sass */
header h1 {
  font-family: "KoolBeansRegular";
  font-size: 125px;
  padding: 0;
  margin: 0;
  color: #104ba9;
  padding: 10px;
  text-align: center;
  text-shadow: #333333 2px 2px 2px;
}

/* line 5 */
pre {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  margin: 20px 0;
  padding: 10px;
  clear: left;
}

/* line 13 */
.example ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}
/* line 18 */
.example li {
  float: left;
}
/* line 20 */
.example li a {
  display: block;
  padding: 7px;
  border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  background-color: black;
  color: white;
  text-decoration: none;
}
/* line 28 */
.example li a:hover {
  background-color: #104ba9;
}

/* line 31 */
ul li {
  margin: 2px 0;
}
/* line 33 */
ul li ul {
  margin-bottom: 10px;
}

/* line 38 */
#container p a, #container li a {
  background-color: #a8c6f7;
  padding: 2px;
  color: #104ba9;
  text-decoration: none;
}
/* line 43 */
#container p a:hover, #container li a:hover {
  background-color: #bfd5f9;
  color: #0c367a;
}
