/* line 1, ../../src/stylesheets/twilight.sass */
pre.twilight {
  background-color: #141414;
  color: #f8f8f8;
}
/* line 5, ../../src/stylesheets/twilight.sass */
pre.twilight .DiffInserted {
  background-color: #253b22;
  color: #f8f8f8;
}
/* line 9, ../../src/stylesheets/twilight.sass */
pre.twilight .DiffHeader {
  background-color: #0e2231;
  color: #f8f8f8;
  font-style: italic;
}
/* line 14, ../../src/stylesheets/twilight.sass */
pre.twilight .CssPropertyValue {
  color: #f9ee98;
}
/* line 17, ../../src/stylesheets/twilight.sass */
pre.twilight .CCCPreprocessorDirective {
  color: #afc4db;
}
/* line 20, ../../src/stylesheets/twilight.sass */
pre.twilight .Constant {
  color: #cf6a4c;
}
/* line 23, ../../src/stylesheets/twilight.sass */
pre.twilight .DiffChanged {
  background-color: #4a410d;
  color: #f8f8f8;
}
/* line 27, ../../src/stylesheets/twilight.sass */
pre.twilight .EmbeddedSource {
  background-color: #a3a6ad;
}
/* line 30, ../../src/stylesheets/twilight.sass */
pre.twilight .Support {
  color: #9b859d;
}
/* line 33, ../../src/stylesheets/twilight.sass */
pre.twilight .MarkupList {
  color: #f9ee98;
}
/* line 36, ../../src/stylesheets/twilight.sass */
pre.twilight .CssConstructorArgument {
  color: #8f9d6a;
}
/* line 39, ../../src/stylesheets/twilight.sass */
pre.twilight .Storage {
  color: #f9ee98;
}
/* line 42, ../../src/stylesheets/twilight.sass */
pre.twilight .line-numbers {
  background-color: #ddf0ff;
  color: black;
}
/* line 46, ../../src/stylesheets/twilight.sass */
pre.twilight .CssClass {
  color: #9b703f;
}
/* line 49, ../../src/stylesheets/twilight.sass */
pre.twilight .StringConstant {
  color: #ddf2a4;
}
/* line 52, ../../src/stylesheets/twilight.sass */
pre.twilight .CssAtRule {
  color: #8693a5;
}
/* line 55, ../../src/stylesheets/twilight.sass */
pre.twilight .MetaTagInline {
  color: #e0c589;
}
/* line 58, ../../src/stylesheets/twilight.sass */
pre.twilight .MarkupHeading {
  color: #cf6a4c;
}
/* line 61, ../../src/stylesheets/twilight.sass */
pre.twilight .CssTagName {
  color: #cda869;
}
/* line 64, ../../src/stylesheets/twilight.sass */
pre.twilight .SupportConstant {
  color: #cf6a4c;
}
/* line 67, ../../src/stylesheets/twilight.sass */
pre.twilight .DiffDeleted {
  background-color: #420e09;
  color: #f8f8f8;
}
/* line 71, ../../src/stylesheets/twilight.sass */
pre.twilight .CCCPreprocessorLine {
  color: #8996a8;
}
/* line 74, ../../src/stylesheets/twilight.sass */
pre.twilight .StringRegexpSpecial {
  color: #cf7d34;
}
/* line 77, ../../src/stylesheets/twilight.sass */
pre.twilight .EmbeddedSourceBright {
  background-color: #9c9ea4;
}
/* line 80, ../../src/stylesheets/twilight.sass */
pre.twilight .InvalidIllegal {
  background-color: #241a24;
  color: #f8f8f8;
}
/* line 84, ../../src/stylesheets/twilight.sass */
pre.twilight .SupportFunction {
  color: #dad085;
}
/* line 87, ../../src/stylesheets/twilight.sass */
pre.twilight .CssAdditionalConstants {
  color: #ca7840;
}
/* line 90, ../../src/stylesheets/twilight.sass */
pre.twilight .MetaTagAll {
  color: #ac885b;
}
/* line 93, ../../src/stylesheets/twilight.sass */
pre.twilight .StringRegexp {
  color: #e9c062;
}
/* line 96, ../../src/stylesheets/twilight.sass */
pre.twilight .StringEmbeddedSource {
  color: #daefa3;
}
/* line 99, ../../src/stylesheets/twilight.sass */
pre.twilight .EntityInheritedClass {
  color: #9b5c2e;
  font-style: italic;
}
/* line 103, ../../src/stylesheets/twilight.sass */
pre.twilight .CssId {
  color: #8b98ab;
}
/* line 106, ../../src/stylesheets/twilight.sass */
pre.twilight .CssPseudoClass {
  color: #8f9d6a;
}
/* line 109, ../../src/stylesheets/twilight.sass */
pre.twilight .StringVariable {
  color: #8a9a95;
}
/* line 112, ../../src/stylesheets/twilight.sass */
pre.twilight .String {
  color: #8f9d6a;
}
/* line 115, ../../src/stylesheets/twilight.sass */
pre.twilight .Keyword {
  color: #cda869;
}
/* line 118, ../../src/stylesheets/twilight.sass */
pre.twilight .CssPropertyName {
  color: #c5af75;
}
/* line 121, ../../src/stylesheets/twilight.sass */
pre.twilight .DoctypeXmlProcessing {
  color: #494949;
}
/* line 124, ../../src/stylesheets/twilight.sass */
pre.twilight .InvalidDeprecated {
  color: #d2a8a1;
  font-style: italic;
}
/* line 128, ../../src/stylesheets/twilight.sass */
pre.twilight .Variable {
  color: #7587a6;
}
/* line 131, ../../src/stylesheets/twilight.sass */
pre.twilight .Entity {
  color: #9b703f;
}
/* line 134, ../../src/stylesheets/twilight.sass */
pre.twilight .Comment {
  color: #5f5a60;
  font-style: italic;
}
