/* line 1 */
pre.twilight {
  background-color: #141414;
  color: #f8f8f8;
}
/* line 5 */
pre.twilight .DiffInserted {
  background-color: #253b22;
  color: #f8f8f8;
}
/* line 9 */
pre.twilight .DiffHeader {
  background-color: #0e2231;
  color: #f8f8f8;
  font-style: italic;
}
/* line 14 */
pre.twilight .CssPropertyValue {
  color: #f9ee98;
}
/* line 17 */
pre.twilight .CCCPreprocessorDirective {
  color: #afc4db;
}
/* line 20 */
pre.twilight .Constant {
  color: #cf6a4c;
}
/* line 23 */
pre.twilight .DiffChanged {
  background-color: #4a410d;
  color: #f8f8f8;
}
/* line 27 */
pre.twilight .EmbeddedSource {
  background-color: #a3a6ad;
}
/* line 30 */
pre.twilight .Support {
  color: #9b859d;
}
/* line 33 */
pre.twilight .MarkupList {
  color: #f9ee98;
}
/* line 36 */
pre.twilight .CssConstructorArgument {
  color: #8f9d6a;
}
/* line 39 */
pre.twilight .Storage {
  color: #f9ee98;
}
/* line 42 */
pre.twilight .line-numbers {
  background-color: #ddf0ff;
  color: black;
}
/* line 46 */
pre.twilight .CssClass {
  color: #9b703f;
}
/* line 49 */
pre.twilight .StringConstant {
  color: #ddf2a4;
}
/* line 52 */
pre.twilight .CssAtRule {
  color: #8693a5;
}
/* line 55 */
pre.twilight .MetaTagInline {
  color: #e0c589;
}
/* line 58 */
pre.twilight .MarkupHeading {
  color: #cf6a4c;
}
/* line 61 */
pre.twilight .CssTagName {
  color: #cda869;
}
/* line 64 */
pre.twilight .SupportConstant {
  color: #cf6a4c;
}
/* line 67 */
pre.twilight .DiffDeleted {
  background-color: #420e09;
  color: #f8f8f8;
}
/* line 71 */
pre.twilight .CCCPreprocessorLine {
  color: #8996a8;
}
/* line 74 */
pre.twilight .StringRegexpSpecial {
  color: #cf7d34;
}
/* line 77 */
pre.twilight .EmbeddedSourceBright {
  background-color: #9c9ea4;
}
/* line 80 */
pre.twilight .InvalidIllegal {
  background-color: #241a24;
  color: #f8f8f8;
}
/* line 84 */
pre.twilight .SupportFunction {
  color: #dad085;
}
/* line 87 */
pre.twilight .CssAdditionalConstants {
  color: #ca7840;
}
/* line 90 */
pre.twilight .MetaTagAll {
  color: #ac885b;
}
/* line 93 */
pre.twilight .StringRegexp {
  color: #e9c062;
}
/* line 96 */
pre.twilight .StringEmbeddedSource {
  color: #daefa3;
}
/* line 99 */
pre.twilight .EntityInheritedClass {
  color: #9b5c2e;
  font-style: italic;
}
/* line 103 */
pre.twilight .CssId {
  color: #8b98ab;
}
/* line 106 */
pre.twilight .CssPseudoClass {
  color: #8f9d6a;
}
/* line 109 */
pre.twilight .StringVariable {
  color: #8a9a95;
}
/* line 112 */
pre.twilight .String {
  color: #8f9d6a;
}
/* line 115 */
pre.twilight .Keyword {
  color: #cda869;
}
/* line 118 */
pre.twilight .CssPropertyName {
  color: #c5af75;
}
/* line 121 */
pre.twilight .DoctypeXmlProcessing {
  color: #494949;
}
/* line 124 */
pre.twilight .InvalidDeprecated {
  color: #d2a8a1;
  font-style: italic;
}
/* line 128 */
pre.twilight .Variable {
  color: #7587a6;
}
/* line 131 */
pre.twilight .Entity {
  color: #9b703f;
}
/* line 134 */
pre.twilight .Comment {
  color: #5f5a60;
  font-style: italic;
}
