@{
    ViewBag.Title = "Welcome to Restful Routing";
}

<a href="http://github.com/stevehodgkiss/restful-routing" id="github"  class="pull-right">
    <img src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
</a>
<div id="feature" class="hero-unit">
    <h1>ASP.Net MVC <span id="heart">&hearts;</span> Restful Routing!</h1>
    <p class="lead">Restful Routing for ASP.NET MVC, based on the Ruby on Rails routing DSL.</p>
    <p>
        To get started now, type this into the package manager console:
    </p>
    <pre class="prettyprint well"> 
    PM> Install-Package RestfulRouting
    </pre>
    <p class="download-info">
        <a href="https://github.com/stevehodgkiss/restful-routing" class="btn btn-primary btn-large">View on GitHub</a>
        <a href="https://github.com/stevehodgkiss/restful-routing/zipball/v1.3.0" class="btn btn-large">Download Latest Source <small>(v1.3.0)</small></a>
    </p>
    
</div>

<section id="sub-header">
    <h1>Curious about this sites routes?</h1>
    <p>Well you could <a href="@Url.Action("index", "routedebug")">see all the routes</a> using the included route tool.</p>
</section>
<hr/>
<div class="row">
    <div class="span4">
        <h2>Quick Start</h2>
        <p>"Shut up already and show me the code!" In this quick start, we will take you from 0 to 60 in a few short steps. This is all you need to know to get started.</p>
        <p><a class="btn btn-large btn-success pull-right" href="@Url.Action("show","quickstart")">Get Started »</a></p>
    </div>
    <div class="span4">
        <h2>Problem?</h2>
        <p>Think you found an issue with Restful Routing? Help fix it by submitting an issue on our Github issues page. We know we're not perfect, but we like to aim high.</p>
        <p><a class="btn btn-large btn-danger pull-right" href="https://github.com/stevehodgkiss/restful-routing/issues/new">Submit Issue »</a></p>
    </div>
    <div class="span4">
        <h2>Documentation</h2>
        <p>Sometimes you just need to know if a feature exists, and if it does, then how to use it. This site is a living wealth of knowledge and will be updated frequently.</p>
        <p><a class="btn btn-large btn-success pull-right" href="@Url.Action("show","routeset")">Know More »</a></p>
    </div>
</div>
<hr/>
<section id="introduction" class="row">
    <div class="span12">
        <div class="page-header">
            <h2>Introduction</h2>
        </div>
        <p>Routing is arguably at the core of ASP.Net MVC. Managing your routes can become cumbersome, frustrating, and unproductive to say the least. Some developers utilize a catch all route, which may lead to unexpected problems as their application grows in scope. Restful Routing solves this issue by providing an opinionated method of registering routes, and connecting resources together.</p>
        <p>This site is developed using Restful Routing and the source is available at Github. It was developed to help those getting started explore what this library is all about, in addition to helping those already familiar with the project get acquainted with some of the power features.</p>
        <p>Restful Routing has a community of developers waiting to help answer questions, but you’ll find that this library is so easy to use that you’ll wonder how you ever developed ASP.Net MVC applications without it.</p>
        <p>Thank You and Good Luck.</p>
    </div>

</section>

<section id="sponsors">
    <h2>Sponsors
    <hr/>
    </h2>
    <div id="resharper">
        <span>
            Can't code without
        </span>
        <a alt="The best C# &amp; VB.NET refactoring plugin for Visual Studio" href="http://www.jetbrains.com/resharper/features/code_refactoring.html" title="The best C# &amp; VB.NET refactoring plugin for Visual Studio">
            The best C# &amp; VB.NET refactoring plugin for Visual Studio
        </a>
    </div>
</section>