@{
    ViewBag.Title = "Welcome to Restful Routing";
}

<a href="http://github.com/stevehodgkiss/restful-routing" id="github"  class="pull-right">
    <img alt="forkme" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
</a>
<div id="feature" class="hero-unit">
    <h1>ASP.Net MVC <span id="heart">&hearts;</span> Restful Routing!</h1>
    <p class="lead">Restful Routing for ASP.NET MVC, based on the Ruby on Rails routing DSL.</p>
    <p>
        To get started now, type this into the package manager console:
    </p>
    <pre class="prettyprint well"> 
    PM> Install-Package RestfulRouting
    </pre>
    <p class="download-info">
        <a href="https://github.com/stevehodgkiss/restful-routing" class="btn btn-primary btn-large">View on GitHub</a>
        <a href="https://github.com/stevehodgkiss/restful-routing/zipball/v1.3.0" class="btn btn-large">Download Latest Source <small>(v1.3.0)</small></a>
    </p>
    
</div>

<section id="sub-header">
    <h1>Curious about the site's routes?</h1>
    <p>Well you could <a href="@Url.Action("index", "routedebug")">see all the routes</a> using the included route tool.</p>
</section>
<hr/>
<div class="row">
    <div class="span4">
        <h2>Quick Start</h2>
        <p>In the quick start, we will take you from a fresh ASP.Net MVC project to a a project powered by Restful Routing in a few short steps.</p>
        <p><a class="btn btn-large btn-success pull-right" href="@Url.Action("show","quickstart")">Get Started »</a></p>
    </div>
    <div class="span4">
        <h2>Problem?</h2>
        <p>Think you found an issue with Restful Routing? Help fix it by submitting an issue on our Github issues page. We know we're not perfect, but we like to aim high.</p>
        <p><a class="btn btn-large btn-danger pull-right" href="https://github.com/stevehodgkiss/restful-routing/issues/new">Submit Issue »</a></p>
    </div>
    <div class="span4">
        <h2>User Group</h2>
        <p>Documentation can only go so far in explaining the use of this library. Sometimes you will have specific questions about your unique scenario. Come to the user group to find tailored help for you.</p>
        <p><a class="btn btn-large btn-success pull-right" href="https://groups.google.com/forum/?fromgroups#!forum/restful-routing">Get Involved »</a></p>
    </div>
</div>
<hr/>
<section id="introduction" class="row">
    <div class="span12">
        <div class="page-header">
            <h2>Introduction</h2>
        </div>
        <p>Routing is arguably at the core of all ASP.Net MVC applications. Managing your routes can become cumbersome, frustrating, and unproductive. Some developers utilize a catch all route, which may lead to unexpected problems as their application grows. Restful Routing solves this issue by providing an opinionated process of registering routes, and connecting resources.</p>
        <p>This site is developed using Restful Routing and the source is available at Github. It was developed to help those getting started explore this library, in addition to helping those already familiar with the project get acquainted with some of the power features.</p>
        <p>Restful Routing has a <a href="https://groups.google.com/forum/?fromgroups#!forum/restful-routing">community of developers</a> waiting to help answer questions. You will find that this library is so easy to use that you willl wonder how you ever developed ASP.Net MVC applications without it.</p>
        <p>Thank You and Good Luck.</p>
    </div>

</section>

<section id="sponsors">
    <h2>Sponsors</h2>
    <hr/>
    <div id="resharper">
        <span>
            Can't code without
        </span>
        <a alt="The best C# &amp; VB.NET refactoring plugin for Visual Studio" href="http://www.jetbrains.com/resharper/features/code_refactoring.html" title="The best C# &amp; VB.NET refactoring plugin for Visual Studio">
            The best C# &amp; VB.NET refactoring plugin for Visual Studio
        </a>
    </div>
</section>