@{
    ViewBag.Title = "Index";
}

<h1>Restful Routing / ASP.Net MVC</h1>
<p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>