!!!
%html
  %head
    %title RestfulRouting, Rails-style routing for ASP.NET MVC 2!
    = stylesheets
  %body
    #container
      #box
        %section
          %header
            %h1 restful-routing
        = yield
    %a#github{:href => 'http://github.com/stevehodgkiss/restful-routing'}
      %img{:src => 'http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png'}
      